<% @patients.each do |p| %>
	<div style="float:left;width:100px;"><%= p.FirstName %></div>
	<div style="float:left;width:200px;margin-left:20px;"><%= p.LastName %></div>
	<div style="float:left;width:200px;margin-left:20px;"><%= p.Email %></div>
	<div style="clear:both;"></div>
<% end %>